.logins {
    margin-top: 10px;
    width: 390px;
}

@media screen and (max-width:390px) {
    .logins {
        width: 90%;
    }
}

.inputs,
.inputs:focus {
    background-color: #725700;
    color: #ddd;
}

.inputs::placeholder {
    color: #3c9100;
}

.gradient-text {
    /* font-size: 36px; 
    background: linear-gradient(to right, #ff3502, #ff6f00, #ffb300, #00b7ffd3, #00fff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; */
    color:#FFD036;
}