.navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 -1px 3px rgb(0, 0, 0, 0.7);
    /* background: linear-gradient(to bottom, #630D93, #3A107D); */
    background: rgb(177,142,0);
    background: linear-gradient(171deg, rgba(177,142,0,1) 50%, rgba(255,162,0,1) 100%);
    cursor: pointer;

}


.navbar .logo {
    width: 60px;
    height: 60px;
}

.loginBtn {
    background: rgb(164,177,0);
    background: linear-gradient(171deg, rgba(164,177,0,1) 50%, rgba(100,132,0,1) 100%);
    color: #fff;
    font-size: 13px;
    box-shadow: 2px 3px 4px #000;
}

.navIcon {
    font-size: 28px;
}


@media screen and (max-width:500px) {
    .navLink {
        font-size: 18px;
    }

    .accInfo {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .loginBtn {
        font-size: 12px;
    }

    .navIcon {
        font-size: 24px;
    }
}

@media screen and (max-width:450px) {
    .navIcon {
        font-size: 21px;
    }
}

@media screen and (max-width:390px) {
    .navbar .logo {
        width: 45px;
        height: 45px;
    }
}