/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
    /* font-family: "Rubik", sans-serif; */
    /* background: #2B1C40; */
    /* background: rgb(96,77,0);
    background: linear-gradient(171deg, rgba(96,77,0,1) 50%, rgba(117,95,24,1) 100%); */
    background: #0E0E0E;
    color: #fff;
}

.marqueeContainer {
   position: relative;
    padding: 3px 0;
    background: #000000;
    border: 1px solid #c87f1a;
    border-left: none;
    border-right: none;
    height: 33px;
    color: #fff;
    font-size: 13px;
    box-shadow: 0 0 6px #c87f1a;

}

.owl-theme .owl-dots .owl-dot span {
    background: none !important;
}



.soundIcon {
    position: absolute;
    left: 10px;
    top: 3px;
    z-index: 99;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #000;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.offcanvas.show {
    height: 100%;
    background: #2B1C40;
    color: #fff;
}



.btn-close {
    margin-top: 20px !important;
    --bs-btn-close-bg: url('./assets/img/closeBtn.png') !important;
}

button {
    border: none;
}

.cursorPointer {
    cursor: pointer;
}

.swiper-pagination-bullet {
    height: 15px !important;
    width: 15px !important;
    border-radius: 8px;
    margin-bottom: 15px !important;
    box-shadow: -1px 0 0 1px #fbf1b8, 1px 0 0 1px #da9f31;
    background: #000 !important;
    opacity: 0.8 !important;
}
.swiper-pagination-bullet-active{
    background: #DDA73E !important;
    opacity: 1 !important;

}